---
import Calendar from "@/components/Calendar";
import { Sidebar } from "@/components/Sidebar";
import Main from "@/layouts/Main.astro";
import "@/styles/globals.css";
import App from "@/components/App";
---

<Main>
	<App client:only="react" />
</Main>
