---
import { CourseForm } from "@/components/CourseForm.jsx";
import {
  Card,
  CardContent,
  CardDescription,
  CardFooter,
  CardHeader,
  CardTitle,
} from "@/components/ui/card";
---

<Card className="w-1/3 h-full">
  <CardHeader>
    <CardTitle>Create Course</CardTitle>
    <CardDescription>Changes are applied real-time.</CardDescription>
  </CardHeader>
  <CardContent />
  <CardFooter>
    <div>Click me</div>
  </CardFooter>
</Card>
