<html class="h-full m-0 p-0 overflow-hidden" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="w-full h-full flex justify-center items-center">
    <main class="w-[98%] h-[96%]">
      <slot />
    </main>
  </body>
</html>
